<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/mediacontroller.css">
    <script src="https://use.fontawesome.com/releases/v5.3.0/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <button id="mute-sound-button"><i class="fas fa-volume-up"></i></button>
    <button id="previous-song-button"><i class="fas fa-backward"></i></button>
    <button id="next-song-button"><i class="fas fa-forward"></i></button>
    <button id="pause-song-button"><i class="fas fa-pause"></i></button>
    <br>
    <br>
    <input type="range" name="volume-range" id="volume-range">
    <script src="/scripts/controller.js"></script>
</body>

</html>