<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/mediacontroller.css">
    <script src="https://use.fontawesome.com/releases/v5.3.0/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <h4>Antes de inciar a sessão, por favor, apague a fila do spotify no device escolhido. (pq a api deles é uma merda)
    </h4>
    <h3>Hostear spotify:</h3>
    <input type="text" name="host-name" id="host-name" placeholder="Seu nome">
    <input type="password" name="host-password" id="host-password" placeholder="Senha host">
    <script src="/scripts/spotify-auth.js"></script>
</body>

</html>