<!DOCTYPE html>

<html>

<head>
    <script src="https://use.fontawesome.com/releases/v5.3.0/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <h3>Registre-se na sala:</h3>
    <form action="/spotify/guests/register" method="POST">
        <input type="text" name="guest-name" id="guest-name" placeholder="Seu nome" required>
        <button type="submit">Registrar</button>
    </form>
</body>

</html>