<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/devices.css">
    <script src="https://use.fontawesome.com/releases/v5.3.0/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    SELECIONAR DISPOSITIVO
    <div id="devices">

    </div>
    <script src="/scripts/device.js"></script>
</body>

</html>