<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/mediacontroller.css">
    <script src="https://use.fontawesome.com/releases/v5.3.0/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <h2>URL para convidados: <a href="#" id="invite-url"></a></h2>
    <h3>Pesquisar música:</h3>
    <input type="text" placeholder="Nome da música" id="music-name">
    <div id="tracks">

    </div>
    <script src="/scripts/player-master.js"></script>
</body>

</html>