<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/mediacontroller.css">
    <script src="https://use.fontawesome.com/releases/v5.3.0/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <h2>Seja bem-vindo, convidado.</h2>
</body>

</html>